

.link-black {
    color: black;
}

.link-underline-none {
    text-decoration: none;
}

.link-underline-float:hover {
    text-decoration: underline;
}

.link-underline-blue-float:hover {
    text-decoration: underline blue;
}

.link-underline-blue-offset-2-hover:hover {
    color: black;
    text-decoration: underline cadetblue;
    transition: text-decoration 0.8s ease-out;
}

.link-underline-float:hover {
    text-decoration: underline;
}

.search-suggestions{
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    z-index: 100;
    max-height: 200px;
    overflow-y: auto;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    visibility: hidden;
}