

.link-black {
    color: black;
}

.link-underline-none {
    text-decoration: none;
}

.link-underline-float:hover {
    text-decoration: underline;
}

.link-underline-blue-float:hover {
    text-decoration: underline blue;
}

.link-underline-blue-offset-2-hover:hover {
    color: black;
    text-decoration: underline cadetblue;
    transition: text-decoration 0.8s ease-out;
}

.link-underline-float:hover {
    text-decoration: underline;
}
