@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="row" style="margin-top:8rem">
    <div class="col-md-8 offset-2">

		<h1>@ViewData["Title"]</h1>
		<partial name="_StatusMessage" model="Model.StatusMessage" />

    </div>
</div>