@page
@model AccessService.Api.Pages.Account.ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}


<div class="row" style="margin-top:8rem">
    <div class="col-md-8 offset-2">

		<h1>@ViewData["Title"]</h1>
		<p>
			Please check your email to reset your password.
		</p>

    </div>
</div>