@page
@model EncyclopediaService.Api.Views.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<div class="d-flex justify-content-center align-items-center w-100">
	<form class="return-to-service" action="@Url.Page("/Encyclopedia/Cinemas/All/Index")" method="get">
		<button class="w-100">Return to main page</button>
	</form>
</div>

