

.link-black {
    color: black;
}

.link-underline-none {
    text-decoration: none;
}

.link-underline-float:hover {
    text-decoration: underline;
}

.link-underline-blue-float:hover {
    text-decoration: underline blue;
}

.link-underline-blue-offset-2-hover:hover {
    color: black;
    text-decoration: underline cadetblue;
    transition: text-decoration 0.8s ease-out;
}

.link-underline-float:hover {
    text-decoration: underline;
}

.search-suggestions{
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    z-index: 100;
    max-height: 200px;
    overflow-y: auto;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    visibility: hidden;
}

#brand {
    color: #aaaaaa;
    text-decoration: none;
}

#brand:hover{
    color: white;
}

#account {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #202428;
    text-decoration: none;
    height: 100%;
    transition: background-color 0.1s ease-in;
}

.navbar-collapse .nav-item {
    display: flex;
    align-items:center;
    padding: 0;
    height: auto;
}

#account #account-icon circle {
    fill: #202428;
    stroke: #aaaaaa;
    stroke-width: 2;
    transition: fill 0.1s ease-in;
}

#account #account-icon line {
    stroke: #aaaaaa;
    stroke-width: 2;
}

#account:hover {
    background-color: #404448;
    transition: background-color 0.1s ease-in;
}

#account:hover #account-icon circle {
    fill: #404448;
    transition: fill 0.1s ease-in;
}

#account #account-name {
    text-align: center;
    font-weight: 600;
}

#rating {
    background: none;
    border: none;
    margin: auto;
    color: #ffaa22;
    padding: 0.4rem 1rem;
    text-decoration: dotted underline #ffdd44;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.3rem;
}

.star {
    fill: #ffdd44;
    stroke: none;
    stroke-width: 0;
}

#collapse-stars {
    padding: 1rem 1rem;
    border-radius: 0.3rem;
}

#collapse-stars .star.rail {
    fill: none;
    stroke: none;
    stroke-width: 0;
    clip-path: none;
}

#collapse-stars .rail:hover .star.rail{
    fill: #ffdd447c;
}

#collapse-stars .rail:has( ~ .rail:hover) .star.rail{
    fill: #ffdd447c;
}

.star-empty {
    fill: none;
    stroke: black;
    stroke-width: 0.1rem;
}

.offcanvas-backdrop.fade.show{
    opacity: 0;
}


#label-options-toggle {
    border: none;
    background-color: #708498;
    padding: 0.3rem 0.2rem 0.3rem 0.4rem;
    color: #aaaaaa;
    height: auto;
    width: auto;
    transition: background 0.1s ease-in;
    border-radius: 0.5rem;
    z-index:2;
    position:relative;
}

#label-options-toggle:hover {
    background-color: #748088;
    transition: background 0.1s ease-in;
}

#label-options-toggle:has(+ #collapse-labels-body #collapse-labels.show ){
    background-color: #748088;
}

#collapse-labels-body {
    position: relative;
    max-height:1rem;
    display:inline;
    z-index:1;
}

#collapse-labels-body #collapse-labels{
   position: absolute;
   padding: 0.1rem;
   top:-0.6rem;
   z-index:1;
}

#labels {
    padding: 0.15rem;
    background-color: #606e68; 
    border: none;
    padding-left: 2.85rem;
    z-index: 1;
}

#labels button{
    background-color:#606e68;
    border-radius: 0.2rem;
    color: #aaaaaa; 
    border: none;
    margin: 0 0.1rem;
    padding: 0.1rem;
    transition: background-color ease-in 0.1s;
}

#labels button:hover{
    background-color: #849098;
    transition: background-color ease-in 0.1s;
}

.label-icons line {
    stroke:whitesmoke;
    stroke-width: 4;
}

.label-icons polygon {
    stroke: whitesmoke;
    stroke-width: 4;
    fill:whitesmoke;
}

.label-icons circle {
    stroke: whitesmoke;
    stroke-width: 4;
    fill: whitesmoke;
}

.label-icons .empty {
    stroke: whitesmoke;
    stroke-width: 4;
    fill: none;
}

.label-icons .thin {
    stroke: whitesmoke;
    stroke-width: 3;
    fill: none;
}

.starring-card,
.studio-card,
.film-card {
    width: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.studio-card{
    border-radius: 1rem 1rem;
}

.starring-card a:has(img),
.studio-card a:has(img),
.film-card a:has(img) {
    width: auto;
    padding: 0.5rem;
}

.starring-card a img,
.film-card a img,
.studio-card a img {
    border-radius: 0.5rem 1rem;
}

.starring-card .card-body > *,
.film-card .card-body > *,
.studio-card .card-body > *{
    max-width: 15rem;
    margin-right: -1rem;
}

.starring-card .dropdown,
.film-card .dropdown,
.studio-card .dropdown {
    min-width: 1rem;
    margin-left: 1rem;
}

.add-cinema-starrings,
.add-cinema-filmography,
.add-cinema-studios {
    overflow-y: scroll;
    background-color: #dddddd;
    padding: 0rem 0.5rem;
    height: auto;
    border-radius: 0.5rem;
}


.add-cinema-starrings .add-starring,
.add-cinema-studios .add-studio,
.add-cinema-filmography .add-film
{
    margin: 0.5rem 0rem;
}

.add-cinema-starrings::-webkit-scrollbar,
.add-cinema-studios::-webkit-scrollbar,
.add-cinema-filmography::-webkit-scrollbar{ /* WebKit */
    width: 0;
    height: 0;
}

.carousel-row {
    padding:1rem 0.5rem;
    min-block-size: 22rem;
}