<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EncyclopediaService.Api</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/customs.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3" style="z-index:2">
            <div class="container-fluid">
                <a id="brand" class="navbar-brand" href="/encyclopedia/cinemas/all/">Cinema Encyclopedia</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse hstack d-sm-inline-flex align-items-center">
                    <ul class="navbar-nav flex-grow-1">

						<li class="nav-item" style="margin-left:5rem;">
							<div class="input-group">
								<a class="input-group-text nav-link text-black-50" style="border-radius:10% 0 0 10%" href="#">Search</a>
							</div>
                        </li>
						
                        <li class="nav-item">
                            <div class="input-group">
                                <select id="layout-select" class="form-select bg-dark nav-link" style="width:10rem;border-top-left-radius:0;border-bottom-left-radius:0">
									@foreach (Entities entity in Enum.GetValues(typeof(Entities)))
									{
										<option class="nav-link">
											<a href="/encyclopedia/@(entity.ToString().ToLower())/all/">@(entity)</a>
                                        </option>
									}
								</select>
							</div>
                        </li>

                        <li class="nav-item">
                            <input id="search" class="form-control ms-2 rounded-2" type="text" style="width:40rem" placeholder=" . . . " />
                        </li>

                        <li class="nav-item ms-auto me-3">

							<div class="dropdown d-flex vstack" style="width:12rem;height:auto">
								<button id="account" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
									<div class="input-group">
										<span id="account-name" class="nav-link fs-6"> Account </span>
										<svg id="account-icon" width="45" height="45" xmlns="http://www.w3.org/2000/svg">
											<circle cx="22" cy="43" r="21" />
											<circle cx="21" cy="15" r="12" />
											<line x1="1" x2="44" y1="45" y2="45" stroke="#aaaaaa" stroke-width="2" />
										</svg>
									</div>

								</button>


                                <ul id="account-options" class="dropdown-menu dropdown-menu-end box-shadow bg-dark flex-grow-1 mb-2" aria-labelledby="account">
									<li class="nav-item">
										<a class="nav-link" href="https://localhost:7236/profiles/3">Profile</a>
									</li>
									<li class="nav-item">
										<a class="nav-link">Marked</a>
									</li>
                                    <li class="nav-item vstack d-flex align-items-start">
										<a class="nav-link" data-bs-toggle="collapse" href="#account-options-page" role="button" 
                                           aria-expanded="false" aria-controls="account-options-page">Create page for..</a>

										<div class="collapse" id="account-options-page">
                                            <ul class="vstack">
                                                @foreach (Entity entity in Enum.GetValues(typeof(Entity)))
                                                {
                                                    <li class="nav-item">
                                                        <a href="/encyclopedia/create/@(entity.ToString().ToLower())" class="nav-link">@(entity)</a>
                                                    </li>
                                                }
                                            </ul>

										</div>
									</li>
									<li><hr class="dropdown-divider"></li>
									<li class="nav-item pt-5">
										<a class="nav-link">Logout</a>
									</li>
								</ul>
                            </div>

                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="h-100 position-absolute bg-black top-0 start-0" style="width:3%;z-index:0"></div>
    <div class="h-100 position-absolute bg-black top-0 end-0" style="width:3%;z-index:0"></div>

    <div class="container">
        <main role="main" class="pb-2">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
