
@{
    ViewData["Title"] = "Cinema";
}

<body>
    <h1>Cinema</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="~/img/grid_placeholder.png" class="img-fluid" alt="Poster Image">
            </div>
            <div class="col-md-6">
                <h1 class="display-5">Cinema Title</h1>
                <br>
                <br>
                <br>
                <p class="lead">Cinema description goes here.</p>
            </div>
        </div>
    </div>

</body>
